.wrapper {
  height: 500px;
  width: 1000px;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: blue; 
  /* background-image: url("https://tse4.mm.bing.net/th/id/OIP.a7cU8f-KRn7U3GVIdrKeFwHaEK?pid=Api&P=0&h=180"); */
  background-repeat: no-repeat;
}
h1{text-align: center; margin-bottom: 20px; color:green;}
