.wrapper {
  height: 500px;
  width: 1000px;
  display: flex; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: lightcyan; 
  /* background-image: url("https://tse4.mm.bing.net/th/id/OIP.a7cU8f-KRn7U3GVIdrKeFwHaEK?pid=Api&P=0&h=180"); */
  background-repeat: no-repeat;
}
h1{text-align: center; margin-bottom: 20px; color:green;}
.clear-button {
  color: #fff;
  background-color: rgb(255, 42, 42);
  width: 91.5%;
}
 .row {
  margin-bottom: 3px;
} 
input {
  padding: 25px;
  color: rgb(255, 255, 255);
  font-size: 1em;
  cursor: pointer;
  width: 70px;
  background-color: rgb(22, 100, 80);
  /* border: none; */
  border: 1px solid red;
  outline: none;
  border-radius: 100px;
}
.result {
  width: 53.1%;
}
::placeholder {
  color: rgb(221, 221, 221); 
   /* color: blueviolet; */
  opacity: 0.3;
}